
* {
    box-sizing: border-box;
  }

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:#0F1C73
}

h1 {
    text-align: center;;
    font-size: 3em;
    color:#CA0146;
    padding-bottom: 0px;
    font-family: 'Courier New', Courier, monospace;
}

#reset {
    font-size: 1rem;
    font-weight: bold;
    padding: .7rem;
    margin-top: 2rem;
    border: 2px solid black;
    color: black;
    border-radius: 1rem;
    outline: none;
}

table {
    width: 35%;
    border-collapse: collapse;
    /* border-radius: 40%; */
  }
  
div {
  /* margin: 0 auto; */
  /* height: 50px; */
  /* width: 50px; */
  /* border-radius: 100%; */
}

  td {
    width: 300px;
    height: 100px;
    border: 6px solid white;
    font-size: 100px;
    text-align: center; 
    color: white;  
    vertical-align: top;
}
