
* {
    box-sizing: border-box;
  }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#0F1C73
}

h1 {
    text-align: center;;
    font-size: 3em;
    color:#CA0146;
    padding: 1em;
    font-family: 'Courier New', Courier, monospace;
}

#reset {
    font-size: 1rem;
    font-weight: bold;
    padding: .7rem;
    margin-top: 2rem;
    border: 2px solid black;
    color: black;
    border-radius: 1rem;
    outline: none;
}

table {
    width: 35%;
    border-collapse: collapse;
    /* border-radius: 40%; */

  }
  
  td {
    width: 33.333%;
    border: 6px solid white;
    font-size: 50px;
    text-align: center;
    /* justify-content: space-around; */
    align-items: center;
    /* border-radius: 40%; */
}

td::after {
    content: "";
    display: block;
    margin-top: 75%;
    /* border-radius: 40%; */
  }

